*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("calculator.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    font-family: 'poppins', sans-serif;
}

.calc-container{
    background-color: black;
    opacity: 90%;
    margin-top: 10vh;
    margin-left: 30vh;
    margin-right: 30vh;
    min-height: 60vh;
    color: white;
}

.calc-title{
    text-align: center;
    padding: 25px;
    
}

.calc-title h1{
    font-size:50px;
}

.calc-title p{
    padding: 25px;
    font-size: large;
}


.input-container{
    display: flex;
    justify-content: space-around;
}

input{
    height: 75px;
    width: 300px;
    font-size: 50px;
    
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-container{
    padding: 25px;
    display: flex;
    justify-content: center;
}

button{
    height: 50px;
    width: 70px;
    background-color: salmon;
}

button:hover{
    background-color: slateblue;
}

.output{
    color: White;
    font-size: 60px;
    padding: 25px;
    text-align: center;
}